@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>
    SPS  College is one of the premier professional college in India, established in to ensure all round development and diverse educational needs of the students. 
    SPS College is affiliated with B. R. Ambedkar University Agra having co-education with excellent  education in the areas of Management, Information Technology and Education. 
    The institute aims at imparting quality education in the various faculties like Science, Arts, Commerce, Law, Education, Computer Application, Business Administration and library science .
    This Institute was established in the year 2004 by Sunder Pal Sharma. It is situated  Diholi, Aligarh.</p>
 
<p>

    Teachers of this college is highly Qualified, excellent skills and research experience. The college has co-education with consistent emphasis on excellent discipline and Uniform as implemented separately for both boys and girls.
    It is ranked best in infrastructure & quality education amongst India’s most admired Educational Campus. During the last three years, it has grown vastly and has more than 1000 students in its institute.
    In addition, an environment helpful to new ideas and sharing of knowledge helps in development of a spirit of cooperation among students.
     Some of the unique characteristics of our students include academic excellence, leadership qualities, the ability to lead change, and a deep-rooted respect for the culture and values.
    SPS College are imparting excellent education with courses like B.Sc  ,BA, 10+2 (PCM, PCB, Arts).

</p>
