
@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Bordered Table</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Courses Name</th>
                    <th>Subjects</th>
                    <th style="width: 40px">Details</th>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>High School</td>
                    <td>
                        PCM (PHYSICS, CHEMISTRY, MATHS) PCB (PHYSICS, CHEMISTRY, BIOLOGY) COMMERCE
                    </td>
                    <td><span class="badge bg-red">55%</span></td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>INTERMEDIATE </td>
                    <td>
                        PCM (PHYSICS, CHEMISTRY, MATHS), PCB (PHYSICS, CHEMISTRY, BIOLOGY), COMMERCE, ARTS, HOME SCIENCE, ECONOMICS, SOCIOLOGY, GEOGRAPHY, CIVICS 
                    </td>
                    <td><span class="badge bg-yellow">70%</span></td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>B.S.C</td>
                    <td>
                        PCM, ZBC
                    </td>
                    <td><span class="badge bg-light-blue">30%</span></td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>B.A</td>
                    <td>
                        <div class="progress progress-xs progress-striped active">
                            <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                        </div>
                    </td>
                    <td><span class="badge bg-green">90%</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
</div>

