
@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<<<<<< HEAD

=======
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Bordered Table</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Courses Name</th>
                    <th>Subjects</th>
                    <th style="width: 40px">Details</th>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>High School</td>
                    <td>
                        PCM (PHYSICS, CHEMISTRY, MATHS) PCB (PHYSICS, CHEMISTRY, BIOLOGY) COMMERCE
                    </td>
                    <td><span class="badge bg-red">55%</span></td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>INTERMEDIATE </td>
                    <td>
                        PCM (PHYSICS, CHEMISTRY, MATHS), PCB (PHYSICS, CHEMISTRY, BIOLOGY), COMMERCE, ARTS, HOME SCIENCE, ECONOMICS, SOCIOLOGY, GEOGRAPHY, CIVICS 
                    </td>
                    <td><span class="badge bg-yellow">70%</span></td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Cron job running</td>
                    <td>
                        <div class="progress progress-xs progress-striped active">
                            <div class="progress-bar progress-bar-primary" style="width: 30%"></div>
                        </div>
                    </td>
                    <td><span class="badge bg-light-blue">30%</span></td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Fix and squish bugs</td>
                    <td>
                        <div class="progress progress-xs progress-striped active">
                            <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                        </div>
                    </td>
                    <td><span class="badge bg-green">90%</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
</div>
>>>>>>> 8c634a9eacb1b20c8697f80445e918341dcd3267

<div class="box box-primary"  id="courses">
    <section class="container">
        <h3></h3>
        <div class="row">
            <div class="col-md-4">
                <div class="featured-box">
                    <div class="text">
                        <h3>Subjects</h3>
                       
                    </div>
                </div>
            </div>
            <h3></h3>
            <div class="col-md-4">
                <div class="featured-box">
                    <div class="text">
                       
                        <h3>SUBJECTS</h3>
                       
                    </div>
                </div>
            </div>
            <h3>B.S.C </h3>
            <div class="col-md-4">
                <div class="featured-box">
                    <div class="text">
                        <h3>BRANCH</h3>
                        PCM, ZBC
                    </div>
                </div>
            </div>
        </div>
        <h3>B.A</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="featured-box">
                    <div class="text">
                        <h3>BRANCH</h3>
                        HINDI, ENGLISH, HOME SCIENCE, ECONOMICS, GEOGRAPHY, SOCIOLOGY, POLITICAL SCIENCE
                    </div>
                </div>
            </div>
            @*<div class="col-md-4">
                <div class="featured-box">
                    <div class="text">
                        <h3>Data Base</h3>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                </div>
            </div>*@
            @*<div class="col-md-4">
                <div class="featured-box">
                    <div class="text">
                        <h3>Mobile App Dev</h3>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                </div>
            </div>*@
        </div>

    </section>
</div>