<footer id="footer">

    <div class="container">
        <div class="row">
            <div class="footerbottom">
                <div class="col-md-3 col-sm-6">
                    <div class="footerwidget">
                        <h4>
                            Course Categories
                        </h4>
                        <div class="menu-course">
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        B.A
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        B.S.C
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                       10+2
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footerwidget">
                        <h4>
                            Products Categories
                        </h4>
                        <div class="menu-course">
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        Individual Plans
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Business Plans
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Free Trial
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Academic
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footerwidget">
                        <h4>
                            Browse by Categories
                        </h4>
                        <div class="menu-course">
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        All Courses
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        All Instructors
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        All Members
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        All Groups
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footerwidget">
                        <h4>Quick Info</h4>
                       
                        <div class="contact-info">
                            <i class="fa fa-map-marker"></i> Diholi, Aligarh<br>
                            <i class="fa fa-phone"></i>9457056829, 9761208161 <br>
                            <i class="fa fa-envelope-o"></i> youremail@email.com
                        </div>
                    </div><!-- end widget -->
                </div>
            </div>
        </div>
        <div class="social text-center">
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-flickr"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
        </div>

        <div class="clear"></div>
        <!--CLEAR FLOATS-->
    </div>
    <div class="footer2">
        <div class="container">
            <div class="row">

                <div class="col-md-6 panel">
                    <div class="panel-body">
                        <p class="simplenav">
                            <a href="Index.html">Home</a> |
                            <a href="About.html">About</a> |
                            <a href="Courses.html">Courses</a> |
                            <a href="Gallery.html">Gallery</a> |
                            <a href="Faculty.html">Faculty</a> |
                            <a href="Contact.html">Contact</a>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 panel">
                    <div class="panel-body">
                        <p class="text-right">
                            Copyright &copy; 2017 <a href="http://webthemez.com/" rel="develop">SpsEduction.com</a>
                        </p>
                    </div>
                </div>

            </div>
            <!-- /row of panels -->
        </div>
    </div>
</footer>